body {
    text-align: center;
    color: whitesmoke;
    background-color: black;
  }
  
  textarea {
    width: 32%;
    float: top;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #f4f4f9;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
    color: whitesmoke;
    background-color: black;
  }
  
  iframe {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 35em;
    color: whitesmoke;
    background-color: black;
  
  }