body{
    margin: 0px;
    margin-top: -20px;
    /* background-image: url("img/background.jpg"); */
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size:initial;
    color: whitesmoke;
    background-color: black;
}

#dd1 ul{
margin-left: 250px;
list-style:none;
margin-top: 40px;  
/* size: 50px; */
}

#dd1{
border-style: solid;
border-width: 0px;
height: 120px;
background-color: rgb(29, 32, 59); 
margin-top: 0px; 
width: 100%;
position: fixed;   
top: -20px;
z-index: 99;
}

#dd1 ul li{
color: white;
/* background-color: rgb(83, 142, 190); */
text-align: center;
width: 120px;
padding-top: 17px;
padding-bottom: 15px;
margin-left: 20px;
border: 0px red solid;
height: 30px;
float: left;
padding-right: 10px;
font-weight: bolder;
cursor: pointer;
}

#dd1 ul li:hover{
color: floralwhite;
background-color: rgb(12, 70, 109);

}

#b1{
font-size: 25px; 
color:whitesmoke; 
background-color: rgb(66, 146, 34); 
margin-left: 170px;
margin-top: 20px;
padding-left: 20px;
padding-right: 20px; 
cursor: pointer;
}
#b1:hover{
background-color: darkcyan;
}

.content{
/* border: 10px red solid; */
margin-top: 120px;
/* margin: 10px 100px; */
/* padding: 10px 10px; */
/* width: 100%; */
height: 1000px;

}
#footer{
/* margin-top: 500px; */
/* position: fixed; */

}


#foot{
padding-bottom: 25px;
padding-left: 650px;
padding-right: 650px;
/* margin-left: 45%; */
/* background-color: rgb(29, 32, 59) ; */
}

div.footdv1{
margin-left: 100px;
/* border: 0px solid red; */
border-width: 2px;
width: 250px;
height: 240px;
float: left;
/* margin: 10px; */
color: white;
text-align: center;
/* font-size: 30px; */
} 

div.prv{
margin-top:10px;
color: white;
border:0px solid white;
width: 100%;
text-align: center;

}

a.link{ 
display:block; 
color: white;
font-size: 19px;

}

.logo{
float: left;
margin-top: 10px;
}

a:link {
text-decoration: none;
}

.content h1{
  text-align: center;
}

b{
  color: whitesmoke;
}

#code
{
 width: 50px;
 height: 50px;
}